.WidgetBookingControlButtonContainer > span > [type="button"] {
	background: rgb(34, 153, 152);
}
.WidgetBookingControlButtonContainer > span > [type="button"]:hover {
	background: rgb(72 208 207);
}	
.WidgetCardPriceButtonContainer > span > [type="button"]{
	background: rgb(34, 153, 152);
}
.WidgetCardPriceButtonContainer > span > [type="button"]:hover {
	background: rgb(72, 208, 207);
}	
.WidgetBookingFormButtonContainer > span > [type="button"]{
	background: rgb(34, 153, 152);
}
.WidgetBookingFormButtonContainer > span > [type="button"]:hover {
	background: rgb(72, 208, 207);
}

.WidgetApp_container .BookingControl_control.BookingControl_inline {
	border: none;
}

.Counter_button.Counter_minus {
	background: rgb(34, 153, 152);
}

.Counter_button.Counter_plus  {
	background: rgb(34, 153, 152);
}

.BookingAccommodationsPanel_actions span > [type="button"] {
	background: rgb(34, 153, 152);
}

.FixedButton_button > span > [type="button"] {
	background: rgb(34, 153, 152);
}

.FixedButton_button > span > [type="button"]:hover {
	background: rgb(72, 208, 207);
}

.lists {
  display: flex;
}

.lists > div {
  margin: auto;
}
