@font-face{
font-family: Font;
src: url(../fonts/ContaxSans75-Bold.woff) format('woff'), url(../fonts/ContaxSans75-Bold.woff2) format('woff2'), url(../fonts/ContaxSans75-Bold.ttf) format('truetype');
}


body {
  padding: 0;
  margin: 0;
  width: 100%;
}

* {box-sizing: border-box;-moz-transition: all .25s ease-out;-o-transition: all .25s ease-out;/* -webkit-transition: all .25s ease-out; *//* transition: all .25s ease-out; */}

html {/* font-family: 'Montserrat', sans-serif; *//* font-size: 100%; *//* line-height: 1.2; *//* color: #000; */}

ul, li {
margin: 0;
padding: 0;
    list-style-type: none;
}

p {
margin: 0 0 5px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
/*font-family: 'Lora', serif;*/
font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 5px 0 10px;
  color: #000;
}

.home .page-header {
padding: 50px 0;
}
.default .page-header {
padding: 5px 0;
}
.home .page-header h1{
position: relative;
padding: 25px 0 0;
  font-size: 125%;
}
.default .page-header h1 {
  position: relative;
  padding: 25px 0 0;
  font-size: 125%;
}
.page-header h1:before {
content: "";
  position: absolute;
  width: 100%;
  display: block;
  height: 2px;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 0;
  background: #a48667;
  background: -moz-linear-gradient(left,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  background: -webkit-linear-gradient(left,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  background: linear-gradient(to right,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a48667',endColorstr='#a48667',GradientType=1);
  margin-bottom: 2em;
}
.default .page-header h1 {
  display: block;
  font-size: 185%;
    line-height: 1;
}
.home .page-header h1 span.one {
  display: block;
  font-size: 250%;
    line-height: 1;
}
.home .page-header h1 span.one span{
background: rgb(140,119,100);
background: linear-gradient(180deg, rgba(140,119,100,1) 0%, rgba(87,72,59,1) 45%, rgba(87,72,59,1) 50%, rgba(87,72,59,1) 55%, rgba(140,119,100,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home .page-header h1 span.two {
display: inline-block;
  font-size: 85%;
  position: relative;
    padding: 0 0 25px;
}
.home .page-header h1 span.two:after {
content: "";
  position: absolute;
  bottom: 0;
  display: block;
  left: 0px;
  right: 0px;
  height: 2px;
  z-index: 0;
  background: #a48667;
  background: -moz-linear-gradient(left,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  background: -webkit-linear-gradient(left,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  background: linear-gradient(to right,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a48667',endColorstr='#a48667',GradientType=1);
  margin-top: 2em;
}
body.home h1 {
text-align: center;
margin: 0;
}
h1 {
text-align: left;
    font-size: 200%;
}
h2 {
  font-size: 185%;
}
h3 {
    font-size: 150%;
    margin: 5px 0;
text-align: left;
}
.moduletable h3 {
    margin: 10px 0;
}
.after_page h3 {
  text-align: center;
  margin: 5px 0 10px;
}
h4 {
margin: 5px 0 15px;
font-weight: normal;
    font-size: 150%;
}
h5 {
margin: 5px 0 25px;
  font-weight: normal;
  font-size: 125%;
}
.field-label {
margin: 15px 0 5px;
font-weight: bold;
    font-size: 120%;
	display: block;
}
a {
    text-decoration: underline;
    color: #000;
}
a:hover {
    text-decoration: none;
}
a:active,a:focus {outline:0;}

img {
max-width: 100%;
}

button:focus {
outline: none;
}

::selection{background:#f7f7f7;}

.wrap {
width: 1170px;
margin: 0 auto;
}

.gallery_page .wrap.for_component {
width: 100%;
}
.gallery_page .page-header {
width: 1170px;
margin: 0 auto;
}

.start_block {
overflow: hidden;
}

.left_block {
  width: 25%;
  height: 100%;
  background-image: url(../images/pattern.png);
  background-position: bottom;
  background-size: 100%;
  background-repeat: repeat;
  float: left;
}

.logo {
  padding: 25px 0;
}
.logo img {
display: block;
  margin: 0 auto;
  width: 200px;
}

.right_block {
  position: relative;
overflow: hidden;
}
.home .right_block {
width: 75%;
float: left;
-webkit-box-shadow: -1px -5px 25px 0px rgba(184,184,184,1);
-moz-box-shadow: -1px -5px 25px 0px rgba(184,184,184,1);
box-shadow: -1px -5px 25px 0px rgba(184,184,184,1);
}
.default .right_block {
width: 100%;
}

.header {
  background: #57483b;
  position: fixed;
  top: 0;
  height: 50px;
  z-index: 9;
}
.home .header {
  width: 75%;
}
.default .header {
  width: 100%;
}
.home .header.fixed {
  left: 0;
    width: 100%;
}

.header .logo {
display: block;
  float: left;
  width: 250px;
  margin: 15px 10px 5px;
}

.down_info {
  text-align: center;
  padding: 15px 25px;
}
p.mr img {
width: 25px;
}
p.phone {
font-size: 125%;
  margin: 0 0 25px;
}
p.phone a {
text-decoration: none;
}
p.phone a:hover {
border-bottom: 1px solid #000;
}
p.sn {
margin: 0 0 15px;
}
p.address {
font-size: 90%;
}
p.address span {
display: block;
}
p.address span a {
 text-decoration: none;
  border-bottom: 1px dashed #000;
}
p.address span a:hover {
  border-bottom: 1px dashed transparent;
}

#widget_vertical {
  width: 85%;
  margin: 0 auto 25px;
}
.BookingControl_control {
margin: 0 auto;
}

.mobile_top_menu {
display: none;
}
.top_menu {
clear: both;
  position: relative;
}
.top_menu ul {
margin: 5px 25px 0;
}
.top_menu li {
  display: inline-block;
  padding: 10px 0;
  position: relative;
  margin: 0 7.5px;
    float: left;
}
.top_menu li:after {
  content: 'â€¢';
  display: inline-block;
  margin: 0 0 0 15px;
  font-size: 75%;
  color: #ccc;
}
.top_menu li.item-139:after, .top_menu li.item-231:after {
  display: none;
}
.header.fixed .top_menu li.item-219:before, .header.fixed .top_menu li.item-222:before {
  content: 'â€¢';
  display: inline-block;
  margin: 0 15px 0 0;
  font-size: 75%;
  color: #ccc;
}
.top_menu a {
/*font-family: 'Lora', serif;*/
font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 95%;
    display: inline-block;
  color: #ccc;
  position: relative;
    -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.top_menu a:hover:before {
content: '';
  position: absolute;
  height: 2px;
left: 0;
  right: 0;
  bottom: -5px;
  background: #a48667;
  background: -moz-linear-gradient(left,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  background: -webkit-linear-gradient(left,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  background: linear-gradient(to right,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a48667',endColorstr='#a48667',GradientType=1);
}
.top_menu a:hover {
  color: #fff;
}
.top_menu .item-220 a:hover:before, .top_menu .item-221 a:hover:before, .top_menu li.item-220.active a:before, .top_menu li.item-221.active a:before {
  display: none!important;
}
.top_menu li.active a:before {
content: '';
  position: absolute;
  height: 2px;
left: 0;
  right: 0;
  bottom: -5px;
  background: #a48667;
  background: -moz-linear-gradient(left,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  background: -webkit-linear-gradient(left,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  background: linear-gradient(to right,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a48667',endColorstr='#a48667',GradientType=1);
}

.home .header .wrap {
  width: 100%;
}
.default .header .wrap {
  width: 1170px;
}
.header.fixed .wrap {
  width: 1170px;
}
.header.fixed .top_menu li.item-220, .default .header.nofixed .top_menu li.item-220, .header.fixed .top_menu li.item-221, .default .header.nofixed .top_menu li.item-221 {
  padding: 0;
  margin: 0 15px;
}
.home .header .top_menu li.item-220, .home .header .top_menu li.item-221 {
  display: none;
}
.home .header.fixed .top_menu li.item-220, .home .header.fixed .top_menu li.item-221 {
  display: inline-block;
}
.top_menu li.item-220 span, .top_menu li.item-221 span {
  display: none;
}
.header .top_menu li.item-220 img, .header .top_menu li.item-221 img{
width: 45px;
}
.header .top_menu li.item-220:after, .header .top_menu li.item-221:after {
  display: none;
}

.top_menu .nav-child {
display: none;
  position: absolute;
  left: 0;
  z-index: 9999;
  width: 200px;
}
.top_menu .parent {
  position: relative;
}
.top_menu .parent:hover .nav-child {
  display: block;
}
.top_menu .nav-child li, .top_menu .nav-child li a {
  display: block;
}
.top_menu li .nav-child  li a {
  background: #592704;
}
.top_menu li .nav-child li a:hover {
  background: #AC7752;
}
.top_menu li .nav-child  li.active a {
background: #AC6431;
color: #000;
}

.lang {
  float: right;
  padding: 10px 15px 0 0;
}
div.mod-languages ul.lang-block li {
  margin: 0!important;
}
div.mod-languages ul.lang-block li a{
color: #fff;
  font-size: 80%;
}
div.mod-languages ul.lang-block li a:hover{
  border-bottom: 1px solid #fff;
}

#widget_horizontal {
padding: 50px 0;
}

.top_booking {
float: right;
  margin: 0 15px;
  padding: 4px 0 0;
}
.top_booking a {
  display: block;
  position: relative;
  z-index: 1;
  padding: 5px 15px;
  border: 2px solid #a48667;
  color: #fff;
  font-size: 95%;
    text-decoration: none;
}
.top_booking a:before {
  content: "";
  position: absolute;
  z-index: 3;
    top: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #a48667;
  background: -moz-linear-gradient(left,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  background: -webkit-linear-gradient(left,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  background: linear-gradient(to right,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a48667',endColorstr='#a48667',GradientType=1);
}
.top_booking a:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #a48667;
  background: -moz-linear-gradient(left,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  background: -webkit-linear-gradient(left,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  background: linear-gradient(to right,#a48667 0%,#f1c59b 37%,#cba580 69%,#a48667 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a48667',endColorstr='#a48667',GradientType=1);
}
.top_booking a:hover {
background: rgb(140,119,100);
  background: linear-gradient(180deg, rgba(140,119,100,1) 0%, rgba(87,72,59,1) 45%, rgba(87,72,59,1) 50%, rgba(87,72,59,1) 55%, rgba(140,119,100,1) 100%);
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.main_block {
  overflow: hidden;
}
.main_text {
  float: left;
  width: 50%;
padding: 80px 15px 25px 5px;
  text-align: justify;
}
.main_text p {
  margin: 0 0 20px;
}
.main_text p:last-child {
text-align: right;
  margin: 0;
  padding: 10px 0 0;
}
.main_photo {
  float: right;
  width: 50%;
  padding: 5px 5px 25px 25px;
}

.why {
overflow: hidden;
}
.why div {
  width: 25%;
  display: block;
  float: left;
  text-align: center;
    margin: 25px 0;
}
.why div.three {
  width: 33.33%;
}
.why div span {
  display: block;
  padding: 10px 5px;
}

.zv_text {
  padding: 25px;
  font-size: 95%;
  position: relative;
    margin: 25px 25px 0;
	text-align: justify;
	text-indent: 2em;
}
.zv_text:before,
.zv_text:after {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    border: #ccc solid 5px;
}
.zv_text:before {
    border-right: 0 none;
    border-bottom: 0 none;
    top: 0;
    left: 0;
}
.zv_text:after {
    border-left: 0 none;
    border-top: 0 none;
    right: 0;
    bottom: 0;
}

.top_contacts {
  overflow: hidden;
  text-align: center;
padding: 25px 0 30px;
  font-size: 125%;
}
.top_contacts .top_contacts_block {
  display: block;
  float: left;
  width: 30%;
  margin: 0 1%;
}
.top_contacts .top_contacts_block small{
display: block;
  font-size: 75%;
}
.top_contacts a {
  color: #000;
    text-decoration: none;
	  display: inline-block;
}
.top_contacts .fa {
  display: block;
  font-size: 150%;
  padding: 0 0 5px;
}

.rooms_icons {
overflow: hidden;
padding: 25px 0;
}
.rooms_icons div {
float: left;
  width: calc(20% - 15px);
  margin: 0 7.5px 15px;
  text-align: center;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding: 15px 25px;
}
.rooms_icons div img{
  width: 70px;
  display: block;
  margin: 0 auto;
}
.rooms_icons div span{
  font-weight: bold;
  font-size: 80%;
  line-height: 1;
  display: block;
  padding: 15px 5px 0;
  height: 50px;
}

.rooms {
  overflow: hidden;
margin: 50px 0;
}
.rooms h3 {
text-align: center;
}
.rooms .room, .rooms_page .span4 {
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0, .15);
}
.rooms .room, .rooms_page .span4 .item {
  position: relative;
}
.rooms .room .offer, .rooms_page .span4 .item .offer {
position: absolute;
  top: 15px;
  right: 15px;
  text-align: center;
  color: #ffffff;
  background: url(../images/star.png);
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  line-height: 75px;
  padding: 0;
  font-size: 20px;
  cursor: default;
}
.room a, .rooms_page .span4 a {
display: block;
width: 50%;
  height: 450px;
  background-repeat: no-repeat;
background-size: 100% 450px;
  background-position: center;
  float: left;
}
.owl-carousel .owl-item .room  img, .rooms_page .span4 img {
display: none;
}
.room span.room_description {
  display: block;
  text-align: center;
  font-size: 100%;
  text-transform: uppercase;
  padding: 5px 0;
  font-weight: normal;
  float: right;
  background: #222;
  width: 50%;
  height: 450px;
  color: #fff;
}
.room .item_title {
padding: 25px 5px;
  display: block;
  font-size: 150%;
  line-height: 1;
}
.room p, .rooms_page .span4 p {
  display: block;
  text-align: center;
padding: 15px 5px 5px;
  font-size: 120%;
}
.rooms_page .span4 p.readmore {
  background-image: none;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
  color: #fff;
}
.room a.readmore, .rooms_page .span4 .readmore a.btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 5px 0 2.5px;
  border-bottom: 1px dashed #fff;
  text-align: center;
margin: 50px 0 0;
  height: auto;
  width: auto;
    float: none;
}
.room a.readmore:hover {
  border-bottom: 1px dashed transparent;
}
.room:hover img, .rooms_page .span4:hover img{
  opacity: 1;
}

.feedback {
margin: 50px 25px 0;
}
.feedback h3{
  margin: 5px 0 15px;
}
.feedback input {
text-align: left;
}
.feedback textarea {
width: 100%;
}
.feedback .control-group-end {
  text-align: right;
}
.feedback ::-webkit-input-placeholder {text-align: left;    color: #222;}
.feedback ::-moz-placeholder          {text-align: left;    color: #222;}
.feedback :-ms-input-placeholder      {text-align: left;    color: #222;}

.insta {
padding: 0 0 50px;
  margin: 50px auto 0;
}
.insta h3, .promo h3 {
font-size: 200%;
  text-align: center;
}

.popup_in {
    position: relative;
}

.popup_review {
display: none;
position: fixed;
    top: 12.5%;
    background: #fff;
    width: 500px;
    left: calc(50% - 250px);
    z-index: 999999;
    box-shadow: 1px 1px 5px #ccc;
}
.popup_review_form {
    padding: 50px 25px;
	text-align: center;
}
.popup_review_form h3 {
  font-size: 200%;
  text-align: center;
  margin: 5px 0 25px;
}
.popup_review_form .close {
    float: right;
    margin: 0 15px 30px 0;
    display: inline-block;
    cursor: pointer;
    padding: 3px;
    font-size: 125%;
    line-height: 1;
}

.ym-viewport {
display: none!important;
}

/*
	Stylesheet for Tigra Calendar v5.0
	Product is Public Domain (Free for any kind of applicaiton, customization and derivative works are allowed) 
	URL: http://www.softcomplex.com/products/tigra_calendar/

	- all image paths are relative to path of stylesheet
	- the styles below can be moved into the document or in existing stylesheet

*/

/* input box in default state */ 
.tcalInput {
	background: #fff url('../images/cal.gif') 100% 50% no-repeat;
	padding-right: 20px;
	cursor: pointer;
}

/* additional properties for input boxe in activated state, above still applies unless in conflict */
.tcalActive {
	background-image: url('../images/no_cal.gif');
}
/* container of calendar's pop-up */
#tcal {
	position: absolute;
	visibility: hidden;
	z-index: 100;
	width: 170px;
	background-color: white;
	margin-top: 2px;
	padding: 0 2px 2px 2px;
	border: 1px solid silver;
	-moz-box-shadow: 3px 3px 4px silver;
	-webkit-box-shadow: 3px 3px 4px silver;
	box-shadow: 3px 3px 4px silver;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver');
}

/* table containing navigation and current month */
#tcalControls {
	border-collapse: collapse;
	border: 0;
	width: 100%;
}
#tcalControls td {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	width: 16px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}
#tcalControls th {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	line-height: 25px;
	font-size: 10px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	white-space: nowrap;
}
#tcalPrevYear { background-image: url('../images/prev_year.gif'); }
#tcalPrevMonth { background-image: url('../images/prev_mon.gif'); }
#tcalNextMonth { background-image: url('../images/next_mon.gif'); }
#tcalNextYear { background-image: url('../images/next_year.gif'); }

/* table containing week days header and calendar grid */
#tcalGrid {
	border-collapse: collapse;
	border: 1px solid silver;
	width: 100%;
}
#tcalGrid th {
	border: 1px solid silver;
	border-collapse: collapse;
	padding: 3px 0;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	background-color: gray;
	color: white;
}
#tcalGrid td {
	border: 0;
	border-collapse: collapse;
	padding: 2px 0;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	width: 14%;
	font-size: 11px;
	cursor: pointer;
}		
#tcalGrid td.tcalOtherMonth { color: silver; }
#tcalGrid td.tcalWeekend { background-color: #ACD6F5; }
#tcalGrid td.tcalToday { border: 1px solid red; }
#tcalGrid td.tcalSelected { background-color: #FFB3BE; }		


.booking {
  position: fixed;
  bottom: 0;
  left: calc(50% - 100px);
  padding: 10px 15px;
  z-index: 999;
  color: #fff;
      background-color: #834f2b;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNTkyNzA0IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNhYzc3NTIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(89, 39, 4)),color-stop(1, rgb(172, 119, 82)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,rgb(89, 39, 4) 0%,rgb(172, 119, 82) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgb(89, 39, 4) 0%,rgb(172, 119, 82) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgb(89, 39, 4) 0%,rgb(172, 119, 82) 100%);
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.booking.for_wa {
border-radius: 2.5px;
/* IE10+ */ 
background-image: -ms-linear-gradient(top right, #60FC7C 0%, #26D044 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top right, #60FC7C 0%, #26D044 100%);

/* Opera */ 
background-image: -o-linear-gradient(top right, #60FC7C 0%, #26D044 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #60FC7C), color-stop(100, #26D044));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top right, #60FC7C 0%, #26D044 100%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom left, #60FC7C 0%, #26D044 100%);
}
.booking.for_wa a {
text-decoration: none;
  color: #222;
}/*
.booking:hover {
cursor: pointer;
background: #d9a86d;
  color: #fff;
}
*/
.booking.for_wa:hover {
cursor: pointer;
}
.booking.for_wa a:hover  {
  color: #fff;
}
.booking.for_wa .fa {
  padding: 0;
}
.booking .fa {
  padding: 0 0 0 5px;
  font-size: 125%;
}
.popup_booking {
display: none;
position: fixed;
    top: 12.5%;
    background: #fff;
    width: 500px;
    left: calc(50% - 250px);
    z-index: 999999;
    box-shadow: 1px 1px 5px #ccc;
}
.popup_booking_form {
    padding: 50px 25px;
	text-align: center;
}
.popup_booking_form h3 {
  font-size: 200%;
  text-align: center;
  margin: 5px 0 25px;
}

.close {
    float: right;
    display: inline-block;
    cursor: pointer;
    padding: 3px;
    font-size: 125%;
    line-height: 1;
}
.close:hover, .done_close:hover {
color: #592704;
}
.our_menu_in .close {
  margin: 50px 0 0;
  font-size: 200%;
}

.done_close {
    display: inline-block;
    margin: 20px 0 0;
    font-size: 125%;
    line-height: 1;
    padding: 5px;
    cursor: pointer;
}


/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }
  .owl-carousel .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-lazy[src^=""], .owl-carousel .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel  img.owl-lazy {
    transform-style: preserve-3d; }
/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  transition: height 500ms ease-in-out;
}
.owl-nav {
 float: right;
 }
.owl-nav button {
 background: none;
  border: 2px solid #eaeaea;
  line-height: 32px;
  font-size: 21px;
  width: 32px;
 opacity: 0.7;
 transition: 0.5s;
 -webkit-transition: 0.5s;
}
.owl-nav button:hover {
 opacity: 1;
 }
.owl-prev {

}
 .owl-next {

}

a.call {
display: none;
width: 80px;
  position: fixed;
  bottom: 5px;
right: 100px;
  z-index: 999;
}

.blog.both .leading {
padding: 0 0 100px;
}
.blog.both .span4 {
float: left;
    width: 23.33%;
    margin: 0 5%;
}
.blog.both .page-headers h4 {
font-size: 150%;
min-height: 70px;
}
.blog.both .page-headers a {
    text-decoration: none;
    color: #000;
}
.blog.both .text {
font-size: 105%;
    padding: 0 0 5px;
	text-align: right;
}
.blog.both .pull-none.item-image {
    width: 30%;
    margin: 0 auto;
}
.blog.both .span4 .pull-none.item-image {
    width: 100%;
}
.blog.both .pull-none.item-image img {
max-width: 100%;
    border: 1px solid #ddd;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.11);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    box-sizing: border-box;
}
.blog.both .pull-none.item-image img:hover {
    border: 1px solid #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.items-row {
overflow: hidden;
}
p.readmore {
text-align: right;
}

.blog.articles .span6 {
    width: 46%;
    float: left;
    margin: 15px 2% 30px;
}
.blog.articles .span6 .page-headers, .blog.articles .span6 .date {
    text-align: center;
}
.blog.articles .span6 .pull-none {
    text-align: center;
    padding: 0 0 15px;
}
.blog.articles .span6 .pull-none img {
max-width: 100%;
}
.item-page.articles .date {
    text-align: center;
}
.item-page.articles div[itemprop="articleBody"] {
    text-align: left;
}
.item-page.articles .pull-left {
    float: left;
    padding: 10px 25px 0 0;
}

::-webkit-input-placeholder {text-align: center;    color: #222;}
::-moz-placeholder          {text-align: center;    color: #222;}
:-ms-input-placeholder      {text-align: center;    color: #222;}

.booking_form {
background: #AC7752;
padding: 0;
    overflow: hidden;
}
.booking_form p {
margin: 0;
}
.booking_form p a{
display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 150%;
  line-height: 1;
  outline: 1px solid #fff;
  outline-offset: -5px;
  padding: 20px 0;
}
.booking_form p a:hover{
  outline: 1px solid transparent;
    background: #AC6431;
}

img.zv {
display: block;
  margin: 0 auto 25px;
}

.control-group.agree {
font-size: 70%;
margin: 0 25px 15px
}
.control-group.agree label {
display: inline-block;
}

.popup_booking_form .control-group {
  margin: 0 25px 15px;
}
.popup_booking_form .control-group input {
padding: 10px;
  width: auto;
}
.popup_booking_form .control-group {
  margin: 0 25px 15px;
}

.control-groups {
display: none;
  position: fixed;
}
.control-groups.visible {
  display: block;
  z-index: 9999;
  background: #fff;
  width: 600px;
  top: 20%;
  left: calc(50% - 300px);
  padding: 25px;
  text-align: center;
}
.control-groups .control-group {
  margin: 0 15px 5px;
}
.control-groups .control-group input {
  padding: 10px 5px;
}
.control-groups .control-group input{
	width: 150px;
}

.control-group label {
display: none;
}
.control-group.label label {
display: block;
color: #fff;
font-size: 90%;
padding: 0 0 2.5px;
}
.sf2-required {
display: none;
}
.control-group {
margin: 0 25px;
  display: inline-block;
}
.control-group input, .control-group select {
text-align: center;
    padding: 5px;
	border: 1px solid #ccc;
	width: 185px;
}
.control-groups .control-group.for_textarea {
  width: calc(99% - 50px);
  margin: 0 25px 15px;
}
.control-groups .control-group.for_promo {
	margin: 0 15px 15px;
	width: calc(99% - 50px);
}
.control-group textarea {
    padding: 10px;
width: 85%;
    resize: none;
    height: 100px;
	border: 1px solid #ccc;
}
.control-group select {
    padding: 5px;
    color: #222;
}
.control-group-end {
  margin: 0 25px 5px;
  display: block;
}
.control-group-end button {
background-color: #834f2b;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdâ€¦B5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(89, 39, 4)),color-stop(1, rgb(172, 119, 82)));
  background-image: -webkit-repeating-linear-gradient(top,rgb(89, 39, 4) 0%,rgb(172, 119, 82) 100%);
  background-image: repeating-linear-gradient(to bottom,rgb(89, 39, 4) 0%,rgb(172, 119, 82) 100%);
  background-image: -ms-repeating-linear-gradient(top,rgb(89, 39, 4) 0%,rgb(172, 119, 82) 100%);
  color: #fff;
  padding: 10px 15px;
  border: 0;
  font-size: 105%;
    box-shadow: 1px 1px 5px #ccc;
}
.control-group-end button:hover{
    background-color: #834f2b;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjYWM3NzUyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM1OTI3MDQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(172, 119, 82)),color-stop(1, rgb(89, 39, 4)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,rgb(172, 119, 82) 0%,rgb(89, 39, 4) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgb(172, 119, 82) 0%,rgb(89, 39, 4) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgb(172, 119, 82) 0%,rgb(89, 39, 4) 100%);
  cursor: pointer;
      box-shadow: none;
}
.fake_button {
  background: #fff;
  padding: 12px 20px;
  outline: 1px solid #000;
  outline-offset: -5px;
  width: 155px;
  display: inline-block;
  pointer-events: all;
}
.fake_button.disabled {
  pointer-events: none;
  background: #f4f4f4;
}
.fake_button:hover {
cursor: pointer;
  outline: 1px solid #fff;
}
.done {
padding: 50px 25px;
    font-size: 125%;
	text-align: center;
	  line-height: 1;
	  color: #fff;
}
.after_page .done {
color: #fff;
}

.three_block {
  padding: 15px 10px;
  clear: both;
  overflow: hidden;
  background: #fff;
}
.three_block div{
width: calc(33.33% - 15px);
  margin: 0 7.5px;
  float: left;
  padding: 25px;
  background-image: url(../images/paper_bg.png);
  height: 100%;
  overflow: hidden;
}
.three_block .for_img {
padding: 0;
height: 345px;
}
.three_block .for_text {
height: 345px;
text-align: center;
}
.three_block .for_text .sn a {
display: inline-block;
}

.center_block {
text-align: center;
  padding: 50px 5px 25px;
}

.map.in {
padding: 25px;
  clear: both;
}
.home .map {
  margin: 50px 0 0;
}
.map h3 {
	text-align: center;
}
.map iframe {
width: 100%;
display: block;
    height: 300px;
    border: 0;
}
.map.in iframe {
    height: 450px;
}

.clear {
clear: both;
  padding: 15px 0 0;
}

.before_page {
  padding: 65px 0 0;
}

.page {
  position: relative;
    clear: both;
}
.home .page {

}
.default .page {

}
.default div[itemprop="articleBody"] {
  margin: 5px;
  background-image: url(../images/paper_bg.png);
  overflow: hidden;
}
.default div[itemprop="articleBody"] .text{
  padding: 25px 35px;
}
.default.gallery_page div[itemprop="articleBody"] .text {
  padding: 0;
}
.default.gallery_page div[itemprop="articleBody"] {
  margin: 0;
  background-image: none;
}

.CardList_title {
display: none!important;
}

#overlay {
 display: none;
    background: rgba(0,0,0,0.8);
 width:100%;
 height:100%;
 z-index:9998;
 position:fixed;
 top:0;
 bottom:0;
 right:0;
 left:0;
}

body.height {
  height: 100%;
  overflow: hidden;
}

.after_page {
padding: 0 0 5px;
}

.fields-container {
  margin: 0;
  clear: both;
  padding: 0 50px;
}
.field-entry {
  margin: 0;
  overflow: hidden;
}
.field-value {
  display: block;
}
.field-value a {
width: 31.33%;
  display: block;
  float: left;
  margin: 0 1% 2%;
}
.field-value img {
width: 100%;
  cursor: zoom-in;
}

.mosaicflow__column {
	float:left;
}
.mosaicflow__item {
	position:relative;
}
.mosaicflow__item img {
	display:block;
	width:100%;
	max-width:500px;
	height:auto;
	padding: 5px;
}


table.price {
  margin: 0 0 10px;
border-collapse: collapse;
}
table.price th, table.price td {
  border: 1px solid #ccc;
  padding: 10px 15px;
  width: 50%;
  text-align: center;
}

table.prices {
  margin: 15px 0;
border-collapse: collapse;
width: 100%;
}
table.prices th, table.prices td {
  border: 1px solid #ccc;
  padding: 10px 15px;
  text-align: center;
}
table.prices th.now, table.prices td.now {
background: #f1efef;
}
table.prices th {
line-height: 1;
}
table.prices th small {
font-weight: normal;
  display: block;
  padding: 5px 0 0;
}
table.prices.all th:first-child, table.prices.all td:first-child {
  width: 50%;
  text-align: left;
}
table.prices span {
display: block;
  font-size: 85%;
  padding: 5px 0 0 5px;
}

body.hidden-scroll {
  overflow: hidden;
  padding-right: 17px;
}

/* line 30, ../sass/simplelightbox.scss */
.sl-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.9;
  display: none;
  z-index: 1050;
}

/* line 41, ../sass/simplelightbox.scss */
.sl-wrapper {
  z-index: 1040;
}
/* line 43, ../sass/simplelightbox.scss */
.sl-wrapper button {
  border: 0 none;
  background: transparent;
  font-size: 28px;
  padding: 0;
  cursor: pointer;
}
/* line 49, ../sass/simplelightbox.scss */
.sl-wrapper button:hover {
  opacity: 0.7;
}
/* line 54, ../sass/simplelightbox.scss */
.sl-wrapper .sl-close {
  display: none;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 1060;
  margin-top: -14px;
  margin-right: -14px;
  height: 44px;
  width: 44px;
  line-height: 44px;
  font-family: Arial, Baskerville, monospace;
  color: #000;
  font-size: 3rem;
}
/* line 69, ../sass/simplelightbox.scss */
.sl-wrapper .sl-close:focus {
  outline: none;
}
/* line 74, ../sass/simplelightbox.scss */
.sl-wrapper .sl-counter {
  display: none!important
}
/* line 84, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation {
  width: 100%;
  display: none;
}
/* line 87, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button {
  position: fixed;
  top: 50%;
  margin-top: -22px;
  height: 44px;
  width: 22px;
  line-height: 44px;
  text-align: center;
  display: block;
  z-index: 1060;
  font-family: Arial, Baskerville, monospace;
  color: #000;
}
/* line 99, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button.sl-next {
  right: 5px;
  font-size: 2rem;
}
/* line 104, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button.sl-prev {
  left: 5px;
  font-size: 2rem;
}
/* line 109, ../sass/simplelightbox.scss */
.sl-wrapper .sl-navigation button:focus {
  outline: none;
}
@media (min-width: 35.5em) {
  /* line 87, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-navigation button {
    width: 44px;
  }
  /* line 116, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-navigation button.sl-next {
    right: 10px;
    font-size: 3rem;
  }
  /* line 121, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-navigation button.sl-prev {
    left: 10px;
    font-size: 3rem;
  }
}
@media (min-width: 50em) {
  /* line 87, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-navigation button {
    width: 44px;
  }
  /* line 129, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-navigation button.sl-next {
    right: 20px;
    font-size: 3rem;
  }
  /* line 134, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-navigation button.sl-prev {
    left: 20px;
    font-size: 3rem;
  }
}
/* line 142, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image {
  position: fixed;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 10000;
}
/* line 147, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image img {
  margin: 0;
  padding: 0;
  display: block;
  border: 0 none;
}
@media (min-width: 35.5em) {
  /* line 147, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-image img {
    border: 0 none;
  }
}
@media (min-width: 50em) {
  /* line 147, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-image img {
    border: 0 none;
  }
}
/* line 160, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image iframe {
  background: #000;
  border: 0 none;
}
@media (min-width: 35.5em) {
  /* line 160, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-image iframe {
    border: 0 none;
  }
}
@media (min-width: 50em) {
  /* line 160, ../sass/simplelightbox.scss */
  .sl-wrapper .sl-image iframe {
    border: 0 none;
  }
}
/* line 170, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-caption {
  display: none;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 181, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-caption.pos-top {
  bottom: auto;
  top: 0;
}
/* line 186, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-caption.pos-outside {
  bottom: auto;
}
/* line 191, ../sass/simplelightbox.scss */
.sl-wrapper .sl-image .sl-download {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #000;
  z-index: 1060;
}

/* line 202, ../sass/simplelightbox.scss */
.sl-spinner {
  display: none;
  border: 5px solid #333;
  border-radius: 40px;
  height: 40px;
  left: 50%;
  margin: -20px 0 0 -20px;
  opacity: 0;
  position: fixed;
  top: 50%;
  width: 40px;
  z-index: 1007;
  -webkit-animation: pulsate 1s ease-out infinite;
  -moz-animation: pulsate 1s ease-out infinite;
  -ms-animation: pulsate 1s ease-out infinite;
  -o-animation: pulsate 1s ease-out infinite;
  animation: pulsate 1s ease-out infinite;
}

/* line 221, ../sass/simplelightbox.scss */
.sl-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-moz-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-o-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-ms-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.else {
  position: relative;
}

.protect {
background-image: url(../images/paper_bg.png);
position: relative;
}
.protect .moduletable .custom div:first-child {
  width: 60%;
}
.protect .moduletable .custom div:last-child {
display: block;
  width: 50%;
  background: #fff;
  position: absolute;
  right: 50px;
  top: 100px;
  padding: 25px 35px;
}
.protect div span:first-child{
display: block;
  font-size: 135%;
  padding: 0 0 10px;
}
.protect div span{
  display: block;
  font-size: 95%;
    padding: 5px 0;
}
.protect div span a{
  float: right;
    font-size: 105%;
}

.video {
position: relative;
}
#play_button{
position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  z-index: 10;
  background: url(../images/play.png) 50% 50% no-repeat;
  cursor: pointer;   
}
#play_button.o{
    background: none;
}
.video video {
width: 100%;
display: block;
}

.urls img {
  border-radius: 12px;
  margin: 0 2.5px;
}

.item-page, .category-listpadding, .blog {

}

div[itemprop="articleBody"] img {
display: block;
display: block;
  margin: 0 auto;
  }
.pull-left.item-image {
width: 500px;
margin: 0 25px 50px 0;
  float: left;
}

.category-listpadding td {
padding: 0 0 10px;
}
.category-desc {
overflow: hidden;
}
.category-desc .add_review {
float: right;
}
.span12 {
padding: 0 0 25px;
}

.navigation.top {
padding: 50px 0 0;
}
.navigation.bottom {
padding: 0 0 15px;
  float: left;
}
.navigation.bottom .moduletable.navi {
  padding: 15px 10px 5px;
  text-align: left;
}
.navigation.top .moduletable.navi {
  padding: 15px 10px 5px;
  text-align: right;
}
.moduletable.navi li {
    display: inline-block;
}
.moduletable.navi li a, .moduletable.navi li.active span {
color: #000;
  background: #e7e7e7;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-size: 90%;
}
.moduletable.navi li.active span {
  background: none;
}
.moduletable.navi li a:hover{
  background: #e0e0e0;
}
.moduletable.navi li.active span {
cursor: default!important;
}
.divider {
display: none!important;
}

.pagination {
    clear: both;
    text-align: center;
    font-size: 110%;
}
.pagination li{
    display: inline-block;
    padding: 0 1px;
}
.pagination li a{
    padding: 3px;
	    color: #222;
}
.pagination li a:hover{
color: #cd9a6d;
}
.pagination li.active a {
    text-decoration: none;
	cursor: default;
}

/* Main wrapper */
.slickModal * {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	vertical-align: baseline;
	line-height: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.slickModal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
}
.isActive {
	visibility: visible;
	opacity: 1;
	z-index: 99999;
}
.slickModal.isActive,
.isActive .overlay {
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
}
.slickModal,
.slickModal.isActive .window {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.slickModal.isActive .window {
	-webkit-transform: rotate(0deg) scale(1);
	-moz-transform: rotate(0deg) scale(1);
	-ms-transform: rotate(0deg) scale(1);
	transform: rotate(0deg) scale(1);
}
.slickModal.isActive .overlay,
.slickModal.isActive .window {
	opacity: 1;
}

/* Overlay defaults */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	display: block;
	opacity: 0;
	z-index: 1;
	background: rgba(0,0,0,0.8);
}

/* Window defaults */
.window {
	display: inline-block;
	width: 500px;
	height: 300px;
	padding: 25px;
	text-align: center;
	position: absolute;
	margin: auto;
	background: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 2;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	opacity: 0;
	-webkit-transition-property: rotate, transform, opacity, scale, perspective;
	-moz-transition-property: rotate, transform, opacity, scale, perspective;
	-ms-transition-property: rotate, transform, opacity, scale, perspective;
	transition-property: rotate, transform, opacity, scale, perspective;
}
.promo_text {
    font-size: 150%;
}
.promo_text span {
display: block;
    font-size: 125%;
}
.go {
padding: 15px 5px 10px;
}
.go a {
  background: #592704;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
.go a:hover {
  background: #AC7752;
}
/* Blur */
.blurred {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}
/* Scale */
.scaled {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.window.center {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.window.rotateIn {
	-webkit-transform: rotate(720deg) scale(0);
	-moz-transform: rotate(720deg) scale(0);
	-ms-transform: rotate(720deg) scale(0);
	transform: rotate(720deg) scale(0);
}
.window.rotateOut {
	-webkit-transform: rotate(720deg) scale(1.5);
	-moz-transform: rotate(720deg) scale(1.5);
	-ms-transform: rotate(720deg) scale(1.5);
	transform: rotate(720deg) scale(1.5);
}

.slickModal .ease {
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	-ms-transition-timing-function: ease;
	transition-timing-function: ease;
}

.openModal {
	cursor: default;
}
.slickModal .close {
  cursor: pointer;
  /* position: absolute; */
  /* bottom: 15px; */
  /* right: 20px; */
  /* z-index: 10; */
  /* transition: all 0.1s ease; */
  /* text-align: right; */
  border-bottom: 1px dashed;
  display: inline-block;
}
.slickModal .close:hover {
	    border-bottom: 1px dashed #fff;
}
.slickModal .close:before {
	white-space: nowrap;
	display: block;
	position: relative;
	transition: all 0.1s ease;
}

.popup {
	position: fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
	    z-index: 999999;
}
.popup_bg {
	position:absolute;
	z-index:1;
	height:100%;
	width:100%;
	cursor: zoom-out;
	    cursor: -webkit-zoom-out;
	    background: transparent;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 0.7)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 100%);
}

del {
  font-size: 85%;
  font-weight: normal;
}

.footer {/*
position: fixed;
  bottom: 0;*/
background: rgb(87,72,59);
background: linear-gradient(-90deg, rgba(87,72,59,1) 0%, rgba(140,119,100,1) 100%);
  padding: 50px 0 5px;
  overflow: hidden;
  clear: both;
color: #fff;
font-size: 90%;
}
.footer p {
  margin: 0 0 20px;
}
.footer a {
color: #fff;
text-decoration: none;
}
.footer a:hover {
border-bottom: 1px solid #fff;
}
.footer p .footer_title {
font-size: 110%;
  margin: 0 0 35px;
}
.footer_block {
  float: left;
  width: 33.33%;
  padding: 5px 25px;
}
.footer_icons {
display: inline-block;
  margin: 0 0 0 15px;
}
.footer_icons img {
width: 25px;
}
.footer .footer_icons a, .footer .footer_icons a:hover, p.sn a, p.sn a:hover {
border-bottom: 1px solid transparent!important;
}
.footer p.sn {
padding: 50px 0 5px;
}
.inform img {
  display: inline-block;
  margin: 0 5px 0 0;
}
.footer_menu {
padding: 45px 25px 5px;
}
.footer_menu ul {
font-size: 95%;
}
.footer_menu li {
  list-style-type: disc;
    padding: 0 0 10px;
	color: #fff;
}
.footer_menu a {
  text-decoration: none;
}

.footer_logo img{
  display: block;
  float: right;
}
#up {
float: right;
	opacity: 0.9;
    display: inline-block;
	  margin: 20px 10px 0;
}
#up:hover {
    cursor: pointer;
	opacity: 1;
}

.copy {
color: #fff;
  text-align: right;
  padding: 100px 0 5px;
  font-size: 70%;
  clear: both;
}
.copy a {
    color: #fff;
	border-bottom: 1px solid #fff;
}
.copy a:hover {
border-bottom: 1px solid transparent!important;
}

#call_button{
display: none;
}

@media (max-width: 1367px) {
html {
  /* font-size: 95%; */
}
.map iframe {
  height: 400px;
}
img.footer_image {
  width: 200px;
}
}

@media (max-width: 1170px) {
.wrap {
  width: 95%;
}
.top_menu a {
  font-size: 100%;
}
.control-group.last {
  float: right;
  margin: 12px 25px 0;
}
.fake_button {
  width: auto;
}
.control-group input, .control-group select {
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  width: auto;
}
.room span, .rooms_page .span4 h4 {
  font-size: 125%;
}
.footer {
  font-size: 95%;
}
#up {
line-height: 2;
}
}

@media (max-width: 1024px) {
html {
  /* font-size: 90%; */
}
a.call {
display: block;
}
.control-group input, .control-group select {
  width: 120px;
}
.control-group.last {
  margin: 10px 25px 0;
}
.booking {
  left: 5%;
}
.copy {
  text-align: center;
}
.pull-left.item-image {
  width: 30%;
}
.rooms_gallery img {
  width: 100px;
}
.rooms_gallery.rooms_gallery_bl a:nth-child(9) img, .rooms_gallery.rooms_gallery_bl a:nth-child(10) img {
  width: 44.5px;
}
}

@media (max-width: 980px) {
.protect div {
  width: 100%;
  padding: 25px;
}
html {
  /* font-size: 85%; */
}
h1 {
font-size: 185%;
}
.top_menu {
  padding: 10px 0 5px;
  text-align: center;
  line-height: 1;
}
.mobile_top_menu {
display: inline-block;
  margin: 0 auto;
}
.mobile_top_menu span {
  width: 20px;
  height: 2px;
  margin: 0 0 3px;
  background: #fff;
  display: block;
}
.mobile_top_menu.click span {
  display: none;
}
.mobile_top_menu.click span:first-child {
  display: block;
    transform: rotate(45deg);
  margin: 0;
}
.mobile_top_menu.click span:last-child {
  display: block;
    transform: rotate(-45deg);
  margin: 0;
  margin-top: -1px;
}
.top_menu .moduletable_menu {
display: none;
  padding: 15px 0 5px;
}
.top_menu li {
  padding: 5px 0;
    float: none;
  display: block;
}
.top_menu a {
  padding: 5px 10px;
}
.top_menu .parent:hover .nav-child {
  display: none;
}
.owl-nav {
  bottom: 30px;
}
img.footer_image {
  width: 150px;
}
.footer {
  padding: 35px 0 5px;
}
.header .logo {
  width: 220px;
}
.why {
  font-size: 95%;
}
.urls img {
  width: 40px;
}
table.prices th, table.prices td {
  padding: 10px;
}
}

@media (max-width: 769px) {
a.call {
  width: 65px;
  bottom: 15px;
}
html {
  font-size: 80%;
}
.wrap {
  width: 99%;
}
.footer .wrap {
  width: 95%;
}
.urls img {
  width: 35px;
}
.why {
  font-size: 110%;
  width: 85%;
  margin: 0 auto;
}
.why div {
  width: 50%;
  margin: 25px 0 0;
}
.why div.three {
  width: 50%;
}
.why div.four.last {
width: 100%;
}
.zv_text {
  margin: 25px 0 0;
}
#up {
  line-height: 2.5;
}
.owl-prev {
  margin: 0 0 0 15px;
}
.owl-next {
  margin: 0 15px 0 0;
}
.owl-nav {
  bottom: 15px;
}
.booking_form {
  margin: 0 5px;
}
.control-groups.visible {
  width: 90%;
  top: 5%;
  left: 5%;
}
.control-group {
  margin: 0 0 25px;
  display: block;
  width: 50%;
  float: left;
  text-align: center;
}
.control-group.last {
  margin: 0;
  display: block;
  float: none;
  clear: both;
  text-align: center;
  width: 100%;
}
.control-groups .control-group {
    width: 100%!important;
    margin: 0 0 10px!important;
}
.control-group textarea {
  height: 80px;
}
.control-groups .control-group.agree {
  margin: 0 0 25px;
}
.control-group input, .control-group select {
  width: 180px;
}
.popup_booking_form .control-group {
  margin: 0 0 15px;
  width: 100%;
}
.popup_booking_form .control-group.agree {
  margin: 0 0 25px;
}
.zv_text:before, .zv_text:after {
  border: #ccc solid 2.5px;
  width: 30px;
  height: 30px;
}
.zv_text:before {
  border-right: 0 none;
  border-bottom: 0 none;
}
.zv_text:after {
  border-left: 0 none;
  border-top: 0 none;
}
.zv_text {
  padding: 15px;
  margin: 15px 0 0;
}
.all_gallery {
  margin: 0 0 5px;
}
.all_gallery img {
  width: calc(33.33% - 5px);
}
.pull-left.item-image {
  width: 40%;
  margin: 0 20px 10px 0;
}
h4 {
clear: both;
}
.fields-container {
  margin: 15px 0 0;
}
table.prices th, table.prices td {
  padding: 5px;
}
}

@media (max-width: 640px) {
.header .logo {
  width: 200px;
  float: none;
  margin: 15px auto 0;
}
p.top_phone, p.top_address {
  display: none;
}
.top_info {
  float: none;
  text-align: center;
  margin: 5px 0;
}
.urls {
  padding: 5px 0;
}
.control-group {
  width: 100%;
  float: none;
}
.rooms .room, .rooms_page .span4 {
  width: 60%;
  float: none;
  margin: 0 auto 50px;
}
.why {
  font-size: 100%;
  width: 100%;
}
.footer {
  padding: 25px 0 5px;
  background-size: cover;
}
img.footer_image {
  width: 150px;
  float: none;
  margin: 0 auto;
}
.footer_menu {
  float: none;
  margin: 25px 0 10px;
}
.footer_menu ul {
  text-align: center;
}
.footer_menu li {
  list-style-type: none;
  padding: 0 0 7px;
}
.sn {
  float: none;
  margin: 0 auto 15px;
  text-align: center;
}
#up {
  float: none;
  margin: 25px auto 0;
  display: block;
}
.booking {
  left: 1%;
}
.popup_review, .popup_booking {
  top: 5%;
  width: 80%;
  left: 10%;
}
.popup_review, .popup_booking {
  top: 1%;
}
.control-group textarea {
  height: 60px;
  width: 90%;
}
.control-group-end {
  margin: 0 0 10px;
}
.top_contacts {
  padding: 25px 0 0;
}
.top_contacts .top_contacts_block {
  display: block;
  float: none;
  width: 100%;
  margin: 0 auto 25px;
}
table.prices th, table.prices td {
  padding: 2.5px;
  font-size: 95%;
}
table.prices span {
  display: none;
}
}

@media (max-width: 540px) {
.owl-prev,
.owl-next {
display: none;
}
.footer {
  font-size: 100%;
}
.window {
    width: 95%;
}
table.prices th, table.prices td {
  padding: 1.5px;
  font-size: 85%;
}
.item-page .for_offer {
  display: block;
  margin: 5px 0 0;
}
}

@media (max-width: 480px) {
.rooms .room, .rooms_page .span4 {
  width: 90%;
}
.rooms {
  padding: 0 20px;
}
.all_gallery img {
  width: calc(50% - 5px);
}
.for_table {
overflow-x: auto; 
}
}

@media (max-width: 384px) {
h1 {
  font-size: 170%;
}
.why div {
  margin: 5px 0 0;
}
.why div span {
  padding: 0 2.5px;
  height: 32px;
}
.item-page, .category-listpadding, .blog {
  padding: 10px 20px;
}
.moduletable.navi {
  padding: 5px 0 0;
}
.moduletable.navi li.active {
display: none;
}
.moduletable.navi li a, .moduletable.navi li.active span {
  padding: 5px 10px;
}
.pull-left.item-image {
  width: 100%;
  margin: 0 0 15px;
}
}

@media (max-width: 320px) {
.control-groups.visible {
  top: 2.5%;
}
.control-group textarea {
  height: auto;
}
.map iframe {
  height: 350px;
}
.rooms_gallery img {
  width: 85px;
}
.rooms_gallery.rooms_gallery_bl a:nth-child(9) img, .rooms_gallery.rooms_gallery_bl a:nth-child(10) img {
  width: 38px;
}
a.call {
  width: 60px;
  left: 10px;
  bottom: 50px;
}
}